## Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.

Создайте датафрейм `authors` со столбцами `author_id` и `author_name`, в которых соответственно содержатся данные: 

`[1, 2, 3]` и 

`['Тургенев', 'Чехов', 'Островский']`.


Затем создайте датафрейм `books` cо столбцами `author_id`, `book_title` и `price`, в которых соответственно содержатся данные:

`[1, 1, 1, 2, 2, 3, 3]`, 

`['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']`, 

`[450, 300, 350, 500, 450, 370, 290]`.

In [1]:
import pandas as pd

In [2]:
author_id = [1, 2, 3]
author_name = ['Тургенев', 'Чехов', 'Островский']

authors = pd.DataFrame({
    'author_id': author_id,
    'author_name': author_name,
})

authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   author_id    3 non-null      int64
 1   author_name  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [3]:
author_id = [1, 1, 1, 2, 2, 3, 3]
book_title = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
price = [450, 300, 350, 500, 450, 370, 290]

books = pd.DataFrame({
    'author_id': author_id,
    'book_title': book_title,
    'price': price,
})

books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   author_id   7 non-null      int64
 1   book_title  7 non-null      object
 2   price       7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 296.0+ bytes

## Задание 2

Получите датафрейм `authors_price`, соединив датафреймы `authors` и `books` по полю `author_id`.

In [4]:
authors_price = pd.merge(authors, books)
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3

Создайте датафрейм `top5`, в котором содержатся строки из `authors_price` с пятью самыми дорогими книгами.

In [5]:
top5 = authors_price.nlargest(5, 'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4

Создайте датафрейм `authors_stat` на основе информации из `authors_price`. 

В датафрейме `authors_stat` должны быть четыре столбца:
`author_name, min_price, max_price и mean_price`,
в которых должны содержаться соответственно `имя автора`, `минимальная`, `максимальная` и `средняя` цена на книги этого автора.

In [6]:
authors_stat = authors_price.groupby('author_name').agg({'price': ['min', 'max', 'mean']})
authors_stat

            price
              min  max        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000